@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&family=Rubik:wght@300;400;500;600&display=swap");

/* Fonts: 
Poppins: 300, 400, 600, 700, 800
Rubik: 300, 400, 500, 600 */

:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}


* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {

    box-sizing: border-box;

}


body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit; 
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
}

strong {
    font-weight: var(--fw8);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder {
    font: inherit;
}

h1,h2,h3,h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: var(--fw6);
}

h4 {
    font-size: 1em;
}



/* REUSEBLE SELECTOR */

.container {
    max-width: 100%;
    margin-top: 0 auto;
    padding: 0 2em;
}

.column {
    margin-left: -0.94em;
    margin-right: -0.94em;    
}

.column .row {
    padding: 0 0.94em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.main-links a:hover {
  color: var(--secondary-color);

}


.second-links a:hover {
  color: var(--light-text-color);
}

.icon-small, .icon-large {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
} 

.icon-small {
  font-size: 1.25em;
  margin-left: auto;
}

.icon-large {
  font-size: 1.75em;
  padding: 0 0.75em 0 0;
}


.primary-button, .secondary-button .light-button {
  font-size: var(--font-small);
  padding: .8em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transform: var(--trans-background-color)
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.primary-button:hover {
  background-color: lightgreen;
}


.secondary-button {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}
.secondary-button::hover{
  background-color: var(--light-bg-color);
  color: var(--secondary-dark-color);

}

.light-button {
  background-color: var(--light-bg-color);
}
.light-button::hover {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}


.view-all {
  font-size: var(--font-small);
  font-weight: var(--fw5);
  display: flex;
  gap: 3em;
  padding: 0;
  transition: var(--trans-color);
}


nav .fly-item {
  position: relative;
  width: 32px;
  height: 18px;
  border-radius: 3px;
  background-color: var(--primary-color);
  top: -10px;
  font-size: var(--font-smaller);
  padding: 3.5px;
  text-align: center;
  line-height: 10px;
  color: var(--white-color);
  z-index: -1;
}


.icon-large .fly-item {
  position: absolute;
  top: -6px;
  left: 21px;
  width: 1.75em;
  height: 1.75em;
  padding: 1.5px;
  font-size: 12px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--secondary-dark-color);
  border-radius: var(--percent100);
  z-index: -1;
}




.logo a {
  margin-right: 2em;
}

.logo a {
  font-family: "Poppins";
  font-size: 1.75em;
  position: relative;
  font-weight: var(--fw8);
  display: flex;
  padding-left: 0.75em;
  margin-right: 2em;
}

.circle {
  position: absolute;
  top: -15px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: var(--percent50);
  background-color: var(--light-bg-color);
  z-index: -1;
}

.circle::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: var(--percent50);
  background-color: var(--secondary-color);
  bottom: 5px;
  right: 5px;
  opacity: .4;
}


:where(.off-canvas, header) li > a {
  position: relative;
  display: flex;
  line-height: inherit;
  align-items: center;
  transition: var(--trans-color);
}


.header-top li:hover ul {
  display: block;
}

:where(.header-top, .thetop-nav) .right ul ul li a {
  padding: 0.25em 1em;
}

/* .header-top .right ul ul li.current a, .thetop-nav .right ul ul li.current a {
  background-color: var(--border-color);
} */


:where(.header-top, .thetop-nav) .right ul ul li.current a {
  background-color: var(--border-color);
}






/* 
Structure Styling

00. Reusable Selector

01. HEADER
  a. Header Top
  b. Header nav
  c. Header Main, Departments Catagory
  d. Search form
  e. Responsive Manu off canvas

02. SLIDER 
03. BRANDS
04. PRODUCTS
  a. Global Products
  b. BIG Products
  c. MINI Products
  d. MAIN Products
05. BANNER
  a. News Latter
  b. Wigets 
  c. Footer Info
06. BOTTOM MANU
  a. Search 
07. OVERLAY
08. PAGE SINGLE
  a. Breadcrumb
  b. Product details
  c. Product Discription
  d. Product Review
  e. Product Review form
09. PAGE SINGLE: SPECIAL OFFER
10. PAGE CATAGORY
  a. Sliderbar Products Filter
  b. Products Blocks
11. CART 
12. PAGE CART
13. PAGE CHECKOUT
14. MODAL 
15. RESPONSIVE */


 



/* 01. HEADER
  e. Responsive Manu off canvas */


/*   
.site .site-off {
   display: none;
}
   */


.site-off {
  position: fixed;
  width: 320px;
  height: var(--percent100);
  background-color: var(--white-color);
  overflow-y: auto;
  z-index: 1000;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform .4s visibility .4s;
  will-change: transform, visibility;
}

.showmenu .site-off {
  transform: translateX(0);
  visibility: visible;
  transition: transform .4s 0s, visibility 0s 0s;
}

.off-canvas {
  width: var(--percent100);
  height: var(--percent100);
  touch-action: auto;
  padding: 1.5em;
}

.off-canvas .canvas-head {
  color: var(--white-color);
  justify-content: space-between;
  padding: 1.5em;
  margin: -1.5em -1.5em 1.5em;
  background-color: var(--secondary-dark-color);
  border-bottom-right-radius: 160px 25px;
}

.off-canvas .dpt-head .mobile-hide {
  display: none;
}

.off-canvas .canvas-head .logo {
  z-index: 10;
  position: relative;
}

.off-canvas .canvas-head .logo .circle {
  opacity: .6;
}

.t-close {
  font-size: 1.25em;
  width: 32px;
  height: 32px;
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
  transition: var(--trans-background-color);
}

.t-close:hover {
  background-color: var(--white-color);
  color: var(--secondary-dark-color);
  border-radius: var(--percent100);
  opacity: .6;
}

.off-canvas .dpt-head {
  font-size: var(--font-small);
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: var(--light-bg-color);
  border: 7px 7px 0 0;

}

.off-canvas .has-chaild > :where(ul, .mega) {
  font-size: var(--font-small);
  font-weight: var(--fw3);
  line-height: 25px;
  padding-left: 4em;

  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.off-canvas .expand :where(ul, .mega) {
  max-height: 2000px;
}

.off-canvas .thetop-nav ul, .off-canvas nav > ul {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-small);
  line-height: 25px;
  padding-top: 1.25em;
  margin: 1.25em 0;
  border-top: 1px solid var(--border-color);

} 

.off-canvas nav .mega {
  padding: 0;
}

.off-canvas .mega .product {
  display: none;
}


.off-canvas .has-chaild .icon-small {
  padding: .5em;
  line-height: initial;
}

.off-canvas .dpt-menu .icon-small {
  transform: rotate(90deg);
}

.off-canvas .has-chaild {
  width: var(--percent100);
}


.off-canvas .thetop-nav .right > ul > :where(li:nth-child(5), li:nth-child(6)) > a {
  display: none;
}

.off-canvas .thetop-nav .right ul ul {
  display: flex;
  flex-direction: row;
}

.off-canvas .thetop-nav .right ul ul li a {
  padding: 0.5em;
  border: 1px solid var(--border-color);
  line-height: 16px;
  margin: 0 0.5em 0.5em 0;
}





/* 02. SLIDER  */



.slider .item {
  position: relative;
  height: 410px;
  width: var(--percent100);

}

.slider .item img {
  height: 410px;
  width: var(--percent100);
  object-fit: cover;
  
}

.slider .item::before {
  content: '';
  position: absolute;
  top: 30%;
  width: 450px;
  height: 300px;
  background-color: var(--white-color);
  z-index: 1;
  filter: blur(50px);
  opacity: 0.8;
  margin-left: 8%;

}


.slider .text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 3% 10%;
  gap: 7.5px;
  z-index: 1;
}
.slider h4 {
  font-size: var(--font-small);
  font-weight: var(--fw7);
  width: fit-content;
  padding: 4px 10px;
  background-color: var(--dark-color);
  border-radius: 5px;
  color: var(--white-color);
}

.slider .text-content span:first-child {
  font-weight: var(--fw3);
  columns: var(--light-text-color);

}

.slider .text-content span:last-child {
  color: var(--secondary-dark-color);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--secondary-dark-color);
}



/* 03. BRANDS */





/* 04. PRODUCTS
  a. Global Products */




/*04. PRODUCTS
  b. BIG Products */
  



/*   
  04. PRODUCTS
  c. MINI Products */







  /* 04. PRODUCTS
  d. MAIN Products */








  /* 05. BANNER
  a. News Latter */
  





  
  /* 05. BANNER
  b. Wigets  */






  /* 05. BANNER
  c. Footer Info */




/* 
06. BOTTOM MANU
  a. Search  */





  /* 07. OVERLAY */





  /* 08. PAGE SINGLE
  a. Breadcrumb */





  /* 08. PAGE SINGLE
  b. Product details */





  /* 08. PAGE SINGLE
  c. Product Discription */







  /* 08. PAGE SINGLE
  d. Product Review */





  /* 08. PAGE SINGLE
  e. Product Review form */







/* 09. PAGE SINGLE: SPECIAL OFFER */







/* 10. PAGE CATAGORY
  a. Sliderbar Products Filter */







  /* 10. PAGE CATAGORY
  b. Products Blocks */







/* 11. CART  */







/* 12. PAGE CART */







/* 13. PAGE CHECKOUT */







/* 14. MODAL  */





/* 15. RESPONSIVE */ 




/* max screen styled */

@media screen and (max-width: 450px) {


.desktop-hide {
  display: block;
}

.mobile-hide {
  display: none;
}

.header-nav {
  padding: 0;
  margin: 0;
  border-bottom: 0;
}

.header-nav .right li > a {
  margin-left: 1em;
}

.header-nav {
  padding: 0.5em 0;
  margin: 1em 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.trigger {
  font-size: 1.5em;
  display: flex;
  padding: 0.25em;
  margin: 0.5em;
  margin-left: -1em;
}

.logo a {
  margin-right: 3.5em;
  margin-left: -.5em;
}


.iscart {
  display: flex;
  font-weight: var(--fw6);
}

.iscart .mini-text {
  font-size: var(--font-small);
  color: light var(--light-text-color);
  font-weight: var(--fw3);
}










}



















/* mim screen styled */


@media screen and (min-width: 768px) {

  .desktop-hide {
    display: none;
  }


/* 01. HEADER */


  

/* 01. HEADER
  a. Header Top */

.header-top .wrapper {
  font-size: var(--font-small);
  font-weight: var(--fw3);
  justify-content: space-between;
  line-height: 42px;
}

.header-top .wrapper ul {
  gap: 2em;
}


.header-top li {
  position: relative;

}





.header-top ul ul {
  position: absolute;
  left: -1em;
  line-height: 2em;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  z-index: 1;
  display: none;
}


.mega .flexcol {
  flex: 1;
  min-width: 180px;
  padding-right: 2.5em;
  margin-bottom: 1.5em;
  z-index: 1;
}



/* mega manu */

nav .mega{
  position: absolute;
  width: var(--percent100);
  height: auto;
  top: auto;
  left: 0;
  right: 0;
  padding: 2.5em;
  line-height: 2em;
  background-color: var(--light-bg-color);
  box-shadow: rgb(0 0 0 / 20%) 0 30px 20px -30px;
  z-index: 100;

  display: none;
}

nav li.has-chaild:hover .mega {
  display: block;
}


nav .mega .wrapper {
  display: flex;

}

nav .mega h4 {
  font-size: 1em;
  text-transform: uppercase;
}

nav .mega ul {
  font-size: var(--font-small)
}

nav .mega .women-brands {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

nav .mega .women-brands li {
  min-width: 80px;
}
nav .mega .view-all {
  margin-top: 1em;
}

nav .mega .product {
  padding: 0;
  align-items: center;
  position: relative;

}

nav .mega .product .row {
  width: var(--percent100);
}

/* nav .mega .product .media {
  height: 400px;
} */

nav .mega .product .text-content {
  line-height: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
  position: absolute;
  bottom: 5em;
  width: var(--percent100);

}

nav .mega .product .text-content h4 {
  font-size: 2em;
  font-weight: var(--fw8);
  text-align: center;
  color: var(--secondary-dark-color);
}






    /* 01. HEADER
      b. Header nav */


.header-nav {
  margin: 0 1.5em 0;
}


.header-nav nav > ul {

  line-height: 100px;
  gap: 2em;

}

.header-nav .right {
  position: relative;
  margin-left: auto;
}

.header-nav .right ul {
  display: flex; 
  align-items: center;
}





/* 01. HEADER
  c. Header Main, Departments Catagory */

  .header-main {
    background-color: var(--secondary-dark-color);
    padding: 1.5em 0;
    margin-bottom: 2em;
  }

  .dpt-cart {
    position: relative;
    z-index: 10;
  }

  .dpt-cart .dpt-head {
    position: relative;
    width: 300px;
    padding: .75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    margin-bottom: -2.3em;

  }

  .dpt-cart .dpt-head .mini-text {
    color: var(--light-bg-color);
    
  }

  .dpt-cart .dpt-trigger {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    height: 60px;
    width: 60px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .mini-text {
    font-size: var(--font-smaller);
    color: light var(--light-text-color);
  }

  .header-main .right {
    flex: 1;
    min-width: 600px;
    margin-left: 5%;
    
  }


 
  form {
    position: relative;

  }



  form.search input {
    line-height: 3em;
    padding: .5em 4.5em;
    border: 0;
    outline: 0;
    width: var(--percent100);
    border-radius: 7px;
    font-size: .8em;
    font-weight: var(--fw5)
  }

  form.search :where(span,button) {

    position: absolute;
    height: var(--percent100);
    top: 0;
    font-size: 1em;
    padding: 0 1.5em;
    font-weight: var(--fw6);
    color: var(--primary-color);

  }



  form.search button {
    right: -4px;
    border: 0;
    outline: 0;
    border-radius: 0 7px 7px 0;
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--trans-background);
  } 

  form.search button:hover {
    background-color: var(--dark-color);
  }




   /* Departments Catagory */

   .dpt-menu {
    position: absolute;
    top: var(--percent100);
    width: 300px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-top: 0;
    border-bottom: 0;

   }

   .dpt-menu .has-chaild > a {
    display: flex;
    padding: 1.5em 1.5em;
    border-bottom: 1px solid var(--border-color);
    font-size: var(--font-small);
    height: 35px;
    align-items: center;
   }

   .dpt-menu .has-chaild > ul, .dpt-menu .mega {
    position: absolute;
    top: 0;
    left: var(--percent100);
    width: var(--percent100);
    height: var(--percent100);
    min-height: var(--percent100);
    padding: 1.5em;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    line-height: 2em;
    border: 1px solid var(--border-color);
    border-top: 0;
    display: none;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
   }


   .dpt-menu .mega .row {
    line-height: 1.7em;
   }


   /* showing the first sub manue */

   .dpt-menu .has-chaild:hover .mega {
    display: block;
   }

   .dpt-menu .has-chaild:hover ul {
    display: block;
   }

   .dpt-menu .has-chaild li a:hover{
    text-decoration: underline;
   }

   .dpt-menu .beauty ul {
    background-image: url(./asset/menu/menu_bg1.jpg);
    
   }
   .dpt-menu .electric ul {
    background-image: url(./asset/menu/menu_bg2.jpg);
    
   }
   .dpt-menu .fashion ul {
    background-image: url(./asset/menu/menu_bg3.jpg);
    
   }
   .dpt-menu .homekit .mega {
    background-image: url(./asset/menu/menu_bg4.jpg);
    
   }

   
.slider> div > .wrapper {
  width: calc(100% - (300px + 2em));
  margin-left: auto;
}



    
 
}